<button class="close" ion-fab mini color="light" (click)="dismiss()">
  <ion-icon name="close"></ion-icon>
</button>
<div class="video-box" *ngIf="notStream">
  <video #video class="video" autoplay playsinline></video>
</div>
<div class="video-box stream-not-found" *ngIf="!notStream">
  <h3>Трансляция завершена</h3>
</div>
<ul class="comments">
  <li *ngFor="let mess of comments">
    <small>{{mess.data.message.user}}</small>
    <br>{{mess.data.message.text}}<br>
    <small>
      <i>{{mess.data.message.created | date}}</i>
    </small>
  </li>
</ul>
<form class="comments-form">
  <ion-input type="text" placeholder="Введите комментарий" #comm></ion-input>
  <button ion-button icon-only (click)="addComment(comm)">
    <ion-icon name="send"></ion-icon>
  </button>
</form>
