page-active-stream {
  .stream-not-found {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
  }
  .video-box {
    background: #ccc;
    width: 100%;
    height: 100%;
    display: flex;
    video {
      width: 100%;
      height: 100%;
    }
  }
  .comments-form {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    button {
      min-width: 50px;
      height: 36px !important;
    }
  }
  input {
    background:rgba(0,0,0,0.5) !important;
    padding: 10px !important;
  }
  .comments {
    position: fixed;
    top: 0;
    bottom:50px;
    left: 0;
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
    padding-left: 3px;
    li {
      padding: 10px;
      margin: 5px;
      background: rgba(0,0,0,0.5);
      color: #fff;
      border-radius: 10px;
    }
  }
}
