<ion-tabs> 
  <ion-tab [root]="tab1Root" tabIcon="play"></ion-tab> 
  <ion-tab [root]="tab3Root" tabIcon="people"></ion-tab> 
  <ion-tab [root]="tab4Root" tabIcon="star"></ion-tab> 
  <ion-tab [root]="tab2Root" tabIcon="person"></ion-tab> 
</ion-tabs> 
