<ion-header>

  <ion-navbar>
    <ion-title>Фильтр</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list radio-group [(ngModel)]="type">
    <ion-list-header>
      Тип трансляции
    </ion-list-header>
  
    <ion-item>
      <ion-label>Бесплатные</ion-label>
      <ion-radio checked="true" value="free"></ion-radio>
    </ion-item>
  
    <ion-item>
      <ion-label>Платные</ion-label>
      <ion-radio value="payd"></ion-radio>
    </ion-item>
  </ion-list>  

  <ion-list radio-group [(ngModel)]="status">
    <ion-list-header>
      Статус трансляции
    </ion-list-header>
  
    <ion-item>
      <ion-label>Активные</ion-label>
      <ion-radio checked="true" value="active"></ion-radio>
    </ion-item>
  
    <ion-item>
      <ion-label>Запланированные</ion-label>
      <ion-radio value="planned"></ion-radio>
    </ion-item>
  </ion-list>  

  <div class="btns">
    <button ion-button full no-margin outline (click)="dismiss()">Сброс</button>
    <button ion-button full no-margin (click)="filterVal()">Выбрать</button>
  </div>
</ion-content>
