<!--
  Generated template for the StartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <h1 text-center class="app-name">ChitChap</h1>

  <div class="float-btn no-pad-bot" padding>
    <button ion-button block margin-bottom (click)="showAuth()">Авторизация</button>
    <button ion-button outline block (click)="showReg()">Регистрация</button>
    <p text-center>или</p>
    <button ion-button outline block (click)="googleAuth()">Вход через Google</button>
  </div>
</ion-content>