<ion-header>

  <ion-navbar>
    <ion-title>Пользователи</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let user of users">

    <ion-item (click)="openChannelModal(user)">
      <ion-avatar *ngIf="user.avatar" item-start>
        <img [src]="user.avatar">
      </ion-avatar>
      <ion-avatar *ngIf="!user.avatar" item-start>
        <img src="assets/imgs/default-avatar.png">
      </ion-avatar>
      <h2>{{ user.username }}</h2>
      <p>{{ user.email }}</p>
    </ion-item>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{user.rating}} Rating</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="videocam"></ion-icon>
          <div>? videos</div>
        </button>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>
