<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Редактировать профиль</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="validations_form" padding>
    <div class="change-photo" margin-bottom (click)="addPhoto()">
      <button ion-fab margin-right>
        <ion-icon name="camera"></ion-icon>
      </button>
      <h5 style="margin-left:10px">Изменить фотографию</h5>
    </div>
    <ion-item margin-bottom>
      <ion-label floating color="primary">Имя</ion-label>
      <ion-input type="text" formControlName="name" [value]="username"></ion-input>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label floating color="primary">Телефон</ion-label>
      <ion-input type="text" formControlName="phone_number" [value]="phone_number"></ion-input>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label floating color="primary">Email</ion-label>
      <ion-input [textMask]="emailMask" type="text" formControlName="email" [value]="email"></ion-input>
    </ion-item>
  </form>
  <ion-item margin-bottom style="margin-top: -18px; padding-left:33px;padding-right: 15px;">
    <ion-label floating color="primary">Год рождения</ion-label>
    <ion-datetime displayFormat="YYYY" [(ngModel)]="newYear" name="year"></ion-datetime>
  </ion-item>
  <button full ion-button [disabled]="!validations_form.valid" (click)="onEdit(validations_form.value)">
    Обновить
  </button>
</ion-content>
