page-stream-list {
  .tob-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  .filter-btns {
    display: flex;
    button {
      width: 50%;
    }
  }
  .icon-top {
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
    width: 112px;
    font-size: 24px;
    display: flex;
    .icon {
      width: 56px;
      height: 56px;
      text-align: center;
      line-height: 56px;
    }
  }
  .subscribe {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
    color: #fff;
  }
  ion-card {
    position: relative;
  }
  .user-avatar{ 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    img {
      width: 100%;
    }
  }
  ion-card-content {
    display: flex;
  }
}
