<ion-header>

  <ion-navbar>
    <ion-title>Список трансляций</ion-title>

    <button ion-button icon-only class="tob-btn" clear (click)="addNewTranslyation()">
      <ion-icon name="videocam"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="filter-btns">
    <button ion-button icon-start clear (click)="filterShow($event)">
      <ion-icon name="funnel"></ion-icon>
      Фильтр
    </button>
    <button ion-button icon-start clear (click)="searchShow()">
      <ion-icon name="search"></ion-icon>
      Поиск
    </button>
  </div>
  

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Потяните для обновления"
    refreshingSpinner="circles"
    refreshingText="Обновление...">
    </ion-refresher-content>
  </ion-refresher> 

  <div #popoverContent>
    <ion-card *ngFor="let stream of streams">
      <img *ngIf="stream.preview" [src]="stream.preview"  (click)="openStreamModal(stream.id, stream.stream_name)"/>
      <img *ngIf="!stream.preview" src="assets/imgs/video.jpg"  (click)="openStreamModal(stream.id, stream.stream_name)"/>
      <ion-card-content (click)="openChannelModal(stream.user.id)">
        <!-- <div class="user-avatar" *ngIf="stream.user.avatar">
          <img [src]="'http://wilix.org:8001' + stream.user.avatar">
        </div> -->
        <div>
          <!-- <div class="user-avatar" *ngIf="!stream.user.avatar">
            <img src="assets/imgs/default-avatar.png">
          </div> -->
          <ion-card-title>
            {{ stream.name }}
          </ion-card-title>
          <p *ngIf="stream.description">
            {{ stream.description }}
          </p>
          <!-- <small>{{stream.user.username}}</small> -->
          <p class="price">Стоимость {{stream.price}} &#8381;</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
