// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  yellow:       #F2C94C
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
.app-name {
  font-size: 36px;
  width: 100%;
  top: 50px;
  left: 0;
  margin-top: 30px !important;
}
button {
  height: 50px !important;
}
.float-btn {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 16px;
}
.form {
  margin-top: 30px;
}
ion-label {
  white-space: normal !important;
  font-size: 14px !important;
}
.back-arrow {
  position: absolute !important; 
  top: 16px;
  left: 16px;
  margin: 0 !important;
}
.fab {
  height: 56px !important;
}
.fab[mini] {
  height: 40px !important;
}

.channel-modal {
  .modal-wrapper {
    position: relative;
    z-index: 10;
    width: 80%;
    height: 50%;
    margin-top: 25%;
    margin-left: 10%;
  }
  ion-backdrop {
    z-index: 9;
    visibility: visible;
  }
}

.btn-fix {
  position: fixed !important;
  bottom: 70px;
  right: 20px;
  border-radius: 50% !important;
}