<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Профиль
      <button ion-fab mini float-right (click)="exitProfile()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div margin-bottom class="user-info">
    <ion-avatar (click)="changePhoto()">
      <img *ngIf="user.avatar" [src]="user.avatar">
      <img *ngIf="!user.avatar" src="assets/imgs/default-avatar.png">
    </ion-avatar>
    <div class="user-info__textbox">
      <p class="user-info" *ngIf="user.username">Ник: {{user.username}}</p>
      <p class="user-info" *ngIf="user.phone_number">Телефон: {{user.phone_number}}</p>
      <p class="user-info" *ngIf="user.email">Email: {{user.email}}</p>
      <p class="user-info" *ngIf="user.email">Год рождения: {{user.year}}</p>
      <p class="user-info" *ngIf="user.rating">Рейтинг: {{user.rating}}</p>
    </div>
    <button ion-fab mini float-right color="light" class="edit-profile" (click)="editProfile()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </div>
  <div padding>
    <ion-segment [(ngModel)]="streamChoice">
      <ion-segment-button value="upcomingStream">
        Запланированные трансляции
      </ion-segment-button>
      <ion-segment-button value="endStream">
        Завершенные трансляции
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="streamChoice">
    <div *ngSwitchCase="'upcomingStream'">
      <ion-list *ngIf="streams">
        <ion-card *ngFor="let stream of streams">
          <img *ngIf="stream.preview" [src]="stream.preview" (click)="openTranslation(stream)"/>
          <img *ngIf="!stream.preview" src="assets/imgs/video.jpg" (click)="openTranslation(stream)"/>
          <ion-card-content>
            <ion-card-title (click)="openChannelModal(stream.user)">
              {{ stream.name }}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <div *ngIf="!streams">
        <p class="info-box" text-center>Нет запланированных<br>трансляций</p>
      </div>
    </div>
    <div *ngSwitchCase="'endStream'">
      <ion-list *ngIf="endStreams">
        <ion-card *ngFor="let stream of endStreams">
          <img *ngIf="stream.preview" [src]="stream.preview"/>
          <img *ngIf="!stream.preview" src="assets/imgs/video.jpg"/>
          <ion-card-content>
            <ion-card-title>
              {{ stream.name }}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <div *ngIf="!endStreams">
        <p class="info-box" text-center>Нет завершенных<br>трансляций</p>
      </div>
    </div>
  </div>

  <button ion-fab class="btn-fix" color="yellow" (click)="addStream()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-content>
