
ion-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 30px;
}

ion-icon {
  font-size: 25px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info p {
  margin: 8px 0;
}

.toolbar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-profile {
  position: absolute;
  top: 16px;
  right: 16px;
}

.fab-md {
  box-shadow: none;
  margin: 0 !important;
}

.segment-md .segment-button {
  line-height: 1.2;
}

.segment-button {
  white-space: normal;
}

.info-box {
  font-size: 20px;
  margin-top: 30px;
}


