<!--
  Generated template for the AuthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <button class="back-arrow" ion-fab mini color="light" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></button>
  <h1 text-center class="app-name">ChitChap</h1>


  <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)" padding>
    <div formGroupName="country_phone">
      <ion-item margin-bottom>
        <ion-label floating color="primary">Страна</ion-label>
        <ion-select formControlName="country" cancelText="Cancel" okText="OK">
          <ion-option *ngFor="let item of countries" [value]="item">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item margin-bottom>
        <ion-input [textMask]="{mask: validations_form.value.country_phone.country.phone_mask}" placeholder="{{ validations_form.value.country_phone.country.sample_phone }}"
          type="text" formControlName="phone"></ion-input>
      </ion-item>
      <div class="validation-errors" padding-horizontal>
        <ng-container *ngFor="let validation of validation_messages.phone">
          <div class="error-message" *ngIf="validations_form.get('country_phone').get('phone').hasError(validation.type) && (validations_form.get('country_phone').get('phone').dirty || validations_form.get('country_phone').get('phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>

    <ion-item class="terms-item" margin-bottom no-lines>
      <ion-label color="primary">Я согласен с
        <strong>пользовательским соглашением</strong>
      </ion-label>
      <ion-checkbox formControlName="terms"></ion-checkbox>
    </ion-item>
    <div class="validation-errors" padding-horizontal margin-bottom>
      <ng-container *ngFor="let validation of validation_messages.terms">
        <div class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <button ion-button full [disabled]="!validations_form.valid" type="submit">Авторизоваться</button>
  </form>
</ion-content>