<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Планирование стрима</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form>
    <div class="change-photo" style="margin: 20px" margin-bottom>
      <button ion-fab margin-right>
        <ion-icon name="camera"></ion-icon>
      </button>
    </div>
    <ion-item>
      <ion-label color="primary">Название стрима</ion-label>
      <ion-input placeholder="Stream name" [(ngModel)]="stream.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Описание стрима</ion-label>
      <ion-textarea [(ngModel)]="stream.description" name="description"></ion-textarea>
    </ion-item>
    <ion-item style="margin-top: 15px;">
      <ion-label>Начать сейчас</ion-label>
      <ion-toggle [(ngModel)]="stream.start_now" name="start_now"></ion-toggle>
    </ion-item>
    <div style="display:flex; flex-direction: row; margin-top: 15px;">
      <ion-item>
        <ion-label>Дата начала</ion-label>
        <ion-datetime displayFormat="MM.DD.YYYY"
                      placeholder="01.01.2018"
                      [(ngModel)]="stream.date_start"
                      name="date_start"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Время начала</ion-label>
        <ion-datetime displayFormat="HH:mm"
                      placeholder="00:00"
                      [(ngModel)]="stream.time_start"
                      name="time_start"
        ></ion-datetime>
      </ion-item>
    </div>
    <ion-item style="margin-top: 15px;">
      <ion-label>Примерная продолжительность</ion-label>
      <ion-datetime displayFormat="HH.mm"
                    placeholder="00.00"
                    [(ngModel)]="stream.duration"
                    name="duration"
      ></ion-datetime>
    </ion-item>
    <ion-item style="margin-top: 15px;">
      <ion-label>Бесплатная трансляция</ion-label>
      <ion-toggle [(ngModel)]="stream.free" name="free"></ion-toggle>
    </ion-item>
    <ion-item style="margin-top: 15px;">
      <ion-label>Бесплатное время</ion-label>
      <ion-datetime displayFormat="HH.mm"
                    placeholder="00.00"
                    [(ngModel)]="stream.freetime"
                    name="freetime"></ion-datetime>
    </ion-item>
    <ion-item style="margin-top: 15px;">
      <ion-label color="primary">Цена ₽</ion-label>
      <ion-input type="number" placeholder='0'
                 [(ngModel)]="stream.price"
                 name="price"
      ></ion-input>
    </ion-item>
    <ion-item style="margin-top: 15px;">
      <ion-label>Чат разрешен</ion-label>
      <ion-toggle
      [(ngModel)]="stream.chat_mode" name="chat_mode" ></ion-toggle>
    </ion-item>
    <button ion-button style="margin-top: 15px;" (click)="submit()">
      Создать
    </button>
  </form>
</ion-content>
