<ion-content>
  <button ion-fab mini float-right
          style=" position: absolute; z-index: 10;top: 15px;left: 15px;background-color: #ff0000b8;"
          (click)="endTranslation()">
    <ion-icon name="ios-close-circle-outline"></ion-icon>
  </button>
  <video #videoContainer
         autoplay
         muted="muted"
         preload="auto"
         style="width: 100%;"
         [ngStyle]="{'height': screenHeight}"
  >Sorry, your phone doesn't support this videos type
  </video>
</ion-content>
