page-new-stream {
  #gum-local {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 250px;
  }
  .overview {
    position: relative;
    z-index: 2;
  }
  .video {
    max-width: 100vw;
  }
  
  .row {
    margin-bottom: 20px;
  }
  .form {
    background: #fff;
  }
}
