<ion-icon name="arrow-back" (click)="dismiss()"></ion-icon>


<ion-content>
  <div class="row">
    <div class="col-xs-12">
      <video #video class="video" autoplay playsinline></video>
    </div>
  </div>
  
  <form [formGroup]="new_stream" (ngSubmit)="createStream(new_stream.value)" padding>
    <ion-item>
      <ion-input placeholder="Название трансляции" type="text" formControlName="label"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea placeholder="Описание трансляции" type="text" formControlName="description"></ion-textarea>
    </ion-item>

    <p padding>Дата начала</p>
    <ion-item no-lines>
      <ion-label>Сейчас</ion-label>
      <ion-checkbox color="dark" checked="true" (click)="changeDate()"></ion-checkbox>
    </ion-item>

    <div *ngIf="startDate">
      <ion-item>
        <ion-label>Дата начала</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Время начала</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
    </div>


    <p padding>Тип трансляции</p>
    <ion-item no-lines>
      <ion-label>Бесплатная</ion-label>
      <ion-checkbox color="dark" checked="true" (click)="changePrice()"></ion-checkbox>
    </ion-item>
    <ion-item margin-bottom *ngIf="price">
      <ion-input placeholder="Цена" type="number" formControlName="price"></ion-input>
    </ion-item>

    <button ion-button full [disabled]="!new_stream.valid" type="submit">Создать трансляцию</button>
  </form>

  <!-- <div class="row">
    <div class="col-xs-12">
      <button ion-button color="primary" (click)="startRecording()" *ngIf="!onStream">Начать трансляцию</button>
      <button color="primary" (click)="pauseStream()" *ngIf="onStream">Пауза</button>
      <button color="primary"(click) ="stopStream()" *ngIf="onStream">Завершить трансляцию</button>
    </div>
  </div> -->
  
</ion-content>
