<!--
  Generated template for the ChannelInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div class="avatar" float-left>
      <img *ngIf="!avatar" src="assets/imgs/default-avatar.png">
      <img *ngIf="avatar" [src]="selectUser.avatar">
    </div>
    <ion-title>{{selectUser.username}}</ion-title>
    <p>{{selectUser.email}}</p>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!userIsYou">
    <button *ngIf="!isSubscribe" ion-button full (click)="addSubscribe()">Добавить в избранное</button>
    <button *ngIf="isSubscribe" class="disabled" ion-button full (click)="removeSubscribe()">Подписка оформлена</button>
  </div>
  <p *ngIf="userIsYou">Это вы!</p>
</ion-content>
