<button class="close" ion-fab mini color="light" (click)="dismiss()">
  <ion-icon name="close"></ion-icon>
</button>
<div class="video-box">
  <video #videoContainer
         autoplay
         preload="auto"></video>
</div>
